include README.rst CHANGES LICENSE NOTICE AUTHORS run-tests.py
recursive-include kaylee/client *.js
prune docs/_build
recursive-include docs *
recursive-exclude docs *.pyc
recursive-exclude docs *.pyo